# binaries

42sh
42sh.test
42sh.debug

# temporary files

*#
*~
*.a
*.o
*.gcda
*.gcno

# debug

vgcore.*

# development

/.idea
/.vscode
CMakeLists.txt
/cmake-build-debug

# cache

/tests/norm/__pycache__
